.goods {
    padding-top: 24px;
    padding-bottom: 20px;

    @media (min-width: 580px) {
        padding-top: 32px;
    }

    @media (min-width: 720px) {
        padding-top: 40px;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 8px;

    @media (min-width: 720px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 65px 10px;
    }

    @media (min-width: 920px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 81px 16px;
    }

    @media (min-width: 1120px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 81px 16px;
    }
}

.title {
    margin-bottom: 24px;

    @media (min-width: 720px) {
        margin-bottom: 40px;
    }
}