.list {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 8px;

    @media (min-width: 720px) {
        grid-template-columns:repeat(3, 1fr);
        gap: 10px;
    }

    @media (min-width: 920px) {
        grid-template-columns:repeat(3, 1fr);
        gap: 16px;
    }

    @media (min-width: 1120px) {
        grid-template-columns:repeat(4, 1fr);
        gap: 16px;
    }
}