.card {
    position: relative;
}

.cardLink {
    img {
        display: block;
        margin-bottom: 12px;
  
        @media (min-width: 580px) {
          margin-bottom: 16px;
        }
      }
    }
  
.cardImg {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 16px;
    aspect-ratio: 7/6;
  
    @media (min-width: 580px) {
        aspect-ratio: 23/20;
    }

    @media (min-width: 820px) {
        aspect-ratio: 151/125;
    }
}
  
.cardInfo {
    flex-grow: 1;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
  
    @media (min-width: 580px) {
        gap: 5px;
        margin-bottom: 20px;
    }
}
  
.cardTitle {
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;

    @media (min-width: 580px) {
        padding-top: 3px;
        font-size: 16px;
        margin-bottom: 0;
    }
}
  
.cardPrice {
    margin-bottom: 12px;
    font-size: 16px;
    white-space: nowrap;

    @media (min-width: 580px) {
        font-size: 20px;
        margin-bottom: 0;
    }
}
  
.cardBtn {
    width: 100%;
    padding: 12px 24px;
    color: #780096;
    border-radius: 32px;
    border: 1px solid #780096;

    &:hover {
        color: #ffffff;
        border-color: #9200b7;
        background-color: #9200b7;
    }

    &:active {
        color: #c0f;
        border-color: #c0f;
        background-color: transparent;
    }
}
  
.cardFavorite {
    position: absolute;
    top: 12px;
    right: 12px;

    svg {
        fill: #ffffff;
    }

    &:hover,
    &_active {
        color: #780096;
        svg {
            fill: #780096;
        }
    }

    &:active {
        color: #c0f;
        svg {
            fill: #c0f;
        }
    }
}
  