.catalog {
    overflow-x: hidden;
    padding-top: 24px;
  
    @media (min-width: 580px) {
      padding-top: 32px;
    }
  
    @media (min-width: 820px) {
      padding-top: 40px;
    }
}
  
.list {
    overflow-x: auto;
    display: flex;
    gap: 4px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}
  
.link {
    display: block;
    border-radius: 32px;
    background-color: var(--form);
    padding: 8px 14px 10px 14px;
    color: var(--gray);
    outline: none;
    border: 1px solid transparent;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
        border-color: var(--violet);
        color: var(--violet);
    }
  
    &:active,
    &Active {
        color: white;
        background-color: var(--violet);

    &:hover,
    &:focus-visible {
        color: white;
    }
}
  
    &Active {
        pointer-events: none;
      }
}
  