/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v13-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v40-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sans-v40-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --main: #1c1c1c;
  --light: #f1e9e4;
  --violet: #780096;
  --form: #eeeff2;
  --gray: #969EAE;
}

html {
  box-sizing: border-box;
  position: relative;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 400;
  color: var(--main);
}

main {
  min-height: 50svh;
  flex: 1 1 auto;
  margin-bottom: 60px;

  @media (min-width: 580px) {
    margin-bottom: 80px;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
      object-fit: contain;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, p, figure, fieldset {
    margin: 0;
}

.hidden {
    position: fixed;
    transform: scale(0);
}

.swiper-wrapper {
  display: flex;
}

.cardBtn {
  width: 100%;
  padding: 12px 24px;
  color: #780096;
  border-radius: 32px;
  border: 1px solid #780096;

  &:hover {
      color: #ffffff;
      border-color: #9200b7;
      background-color: #9200b7;
  }

  &:active {
      color: #c0f;
      border-color: #c0f;
      background-color: transparent;
  }
}